<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <servlet>
    <description>InfoModulo</description>
    <display-name>InfoModulo</display-name>
    <servlet-name>InfoModulo</servlet-name>
    <servlet-class>Procesamiento.InfoModulo</servlet-class>
  </servlet>
  <servlet>
    <description>Login</description>
    <display-name>Login</display-name>
    <servlet-name>Login</servlet-name>
    <servlet-class>Procesamiento.Login</servlet-class>
  </servlet>
  <servlet>
    <description>Logout</description>
    <display-name>Logout</display-name>
    <servlet-name>Logout</servlet-name>
    <servlet-class>Procesamiento.Logout</servlet-class>
  </servlet>
  <servlet>
    <description>AvisosServlet</description>
    <display-name>AvisosServlet</display-name>
    <servlet-name>AvisosServlet</servlet-name>
    <servlet-class>Procesamiento.AvisosServlet</servlet-class>
  </servlet>
  <servlet>
    <description>NoticiasServlet</description>
    <display-name>NoticiasServlet</display-name>
    <servlet-name>NoticiasServlet</servlet-name>
    <servlet-class>Procesamiento.NoticiasServlet</servlet-class>
  </servlet>
  <servlet>
    <description>FormatosServlet</description>
    <display-name>FormatosServlet</display-name>
    <servlet-name>FormatosServlet</servlet-name>
    <servlet-class>Procesamiento.FormatosServlet</servlet-class>
  </servlet>
  <servlet>
    <description>SubirFormatosServlet</description>
    <display-name>SubirFormatosServlet</display-name>
    <servlet-name>SubirFormatosServlet</servlet-name>
    <servlet-class>Procesamiento.SubirFormatosServlet</servlet-class>
  </servlet>
  <servlet>
    <description>SubirNoticiasServlet</description>
    <display-name>SubirNoticiasServlet</display-name>
    <servlet-name>SubirNoticiasServlet</servlet-name>
    <servlet-class>Procesamiento.SubirNoticiasServlet</servlet-class>
  </servlet>
  <servlet>
    <description>PoliticasServlet</description>
    <display-name>PoliticasServlet</display-name>
    <servlet-name>PoliticasServlet</servlet-name>
    <servlet-class>Procesamiento.PoliticasServlet</servlet-class>
  </servlet>
  <servlet>
    <description>SubirPoliticasServlet</description>
    <display-name>SubirPoliticasServlet</display-name>
    <servlet-name>SubirPoliticasServlet</servlet-name>
    <servlet-class>Procesamiento.SubirPoliticasServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CredencialesServlet</servlet-name>
    <servlet-class>Procesamiento.CredencialesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>TiposCredencialesServlet</servlet-name>
    <servlet-class>Procesamiento.TiposCredencialesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubirCredencialesServlet</servlet-name>
    <servlet-class>Procesamiento.SubirCredencialesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubirTiposCredencialesServlet</servlet-name>
    <servlet-class>Procesamiento.SubirTiposCredencialesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GeneraCredencialesServlet</servlet-name>
    <servlet-class>Procesamiento.GeneraCredencialesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GenerarCredencialServlet</servlet-name>
    <servlet-class>Procesamiento.GenerarCredencialServlet</servlet-class>
  </servlet>
  <servlet>
    <description>DirectorioServlet</description>
    <display-name>DirectorioServlet</display-name>
    <servlet-name>DirectorioServlet</servlet-name>
    <servlet-class>Procesamiento.DirectorioServlet</servlet-class>
  </servlet>
  <servlet>
    <description>AlumnosServlet</description>
    <display-name>AlumnosServlet</display-name>
    <servlet-name>AlumnosServlet</servlet-name>
    <servlet-class>Procesamiento.AlumnosServlet</servlet-class>
  </servlet>
  <servlet>
    <description>CentrosCapacitacionServlet</description>
    <display-name>CentrosCapacitacionServlet</display-name>
    <servlet-name>CentrosCapacitacionServlet</servlet-name>
    <servlet-class>Procesamiento.CentrosCapacitacionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>CursosServlet</description>
    <display-name>CursosServlet</display-name>
    <servlet-name>CursosServlet</servlet-name>
    <servlet-class>Procesamiento.CursosServlet</servlet-class>
  </servlet>
  <servlet>
    <description>DiplomasServlet</description>
    <display-name>DiplomasServlet</display-name>
    <servlet-name>DiplomasServlet</servlet-name>
    <servlet-class>Procesamiento.DiplomasServlet</servlet-class>
  </servlet>
  <servlet>
    <description>InstructoresServlet</description>
    <display-name>InstructoresServlet</display-name>
    <servlet-name>InstructoresServlet</servlet-name>
    <servlet-class>Procesamiento.InstructoresServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GeneraDiplomaServlet</servlet-name>
    <servlet-class>Procesamiento.GeneraDiplomaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>RequisicionCompraServlet</description>
    <display-name>RequisicionCompraServlet</display-name>
    <servlet-name>RequisicionCompraServlet</servlet-name>
    <servlet-class>Procesamiento.RequisicionCompraServlet</servlet-class>
  </servlet>
  <servlet>
    <description>VacacionesServlet</description>
    <display-name>VacacionesServlet</display-name>
    <servlet-name>VacacionesServlet</servlet-name>
    <servlet-class>Procesamiento.VacacionesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>PermisosSinGoceServlet</description>
    <display-name>PermisosSinGoceServlet</display-name>
    <servlet-name>PermisosSinGoceServlet</servlet-name>
    <servlet-class>Procesamiento.PermisosSinGoceServlet</servlet-class>
  </servlet>
  <servlet>
    <description>GerentesServlet</description>
    <display-name>GerentesServlet</display-name>
    <servlet-name>GerentesServlet</servlet-name>
    <servlet-class>Procesamiento.GerentesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>AreasGrupoServlet</description>
    <display-name>AreasGrupoServlet</display-name>
    <servlet-name>AreasGrupoServlet</servlet-name>
    <servlet-class>Procesamiento.AreasGrupoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ClasificacionActivosServlet</description>
    <display-name>ClasificacionActivosServlet</display-name>
    <servlet-name>ClasificacionActivosServlet</servlet-name>
    <servlet-class>Procesamiento.ClasificacionActivosServlet</servlet-class>
  </servlet>
  <servlet>
    <description>DocumActivosServlet</description>
    <display-name>DocumActivosServlet</display-name>
    <servlet-name>DocumActivosServlet</servlet-name>
    <servlet-class>Procesamiento.DocumActivosServlet</servlet-class>
  </servlet>
  <servlet>
    <description>DocumEmpleadosGrupoServlet</description>
    <display-name>DocumEmpleadosGrupoServlet</display-name>
    <servlet-name>DocumEmpleadosGrupoServlet</servlet-name>
    <servlet-class>Procesamiento.DocumEmpleadosGrupoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>PersonasGeneralServlet</description>
    <display-name>PersonasGeneralServlet</display-name>
    <servlet-name>PersonasGeneralServlet</servlet-name>
    <servlet-class>Procesamiento.PersonasGeneralServlet</servlet-class>
  </servlet>
  <servlet>
    <description>EmpresasGrupoServlet</description>
    <display-name>EmpresasGrupoServlet</display-name>
    <servlet-name>EmpresasGrupoServlet</servlet-name>
    <servlet-class>Procesamiento.EmpresasGrupoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>EstatusActivosServlet</description>
    <display-name>EstatusActivosServlet</display-name>
    <servlet-name>EstatusActivosServlet</servlet-name>
    <servlet-class>Procesamiento.EstatusActivosServlet</servlet-class>
  </servlet>
  <servlet>
    <description>EventosActivoServlet</description>
    <display-name>EventosActivoServlet</display-name>
    <servlet-name>EventosActivoServlet</servlet-name>
    <servlet-class>Procesamiento.EventosActivoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>InventarioServlet</description>
    <display-name>InventarioServlet</display-name>
    <servlet-name>InventarioServlet</servlet-name>
    <servlet-class>Procesamiento.InventarioServlet</servlet-class>
  </servlet>
  <servlet>
    <description>PuestosGrupoServlet</description>
    <display-name>PuestosGrupoServlet</display-name>
    <servlet-name>PuestosGrupoServlet</servlet-name>
    <servlet-class>Procesamiento.PuestosGrupoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>TiposActivoServlet</description>
    <display-name>TiposActivoServlet</display-name>
    <servlet-name>TiposActivoServlet</servlet-name>
    <servlet-class>Procesamiento.TiposActivoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>UbicacionesGrupoServlet</description>
    <display-name>UbicacionesGrupoServlet</display-name>
    <servlet-name>UbicacionesGrupoServlet</servlet-name>
    <servlet-class>Procesamiento.UbicacionesGrupoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>DirectorioTelefonicoServlet</description>
    <display-name>DirectorioTelefonicoServlet</display-name>
    <servlet-name>DirectorioTelefonicoServlet</servlet-name>
    <servlet-class>Procesamiento.DirectorioTelefonicoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>GenerarFormatoSeguroServlet</description>
    <display-name>GenerarFormatoSeguroServlet</display-name>
    <servlet-name>GenerarFormatoSeguroServlet</servlet-name>
    <servlet-class>Procesamiento.GenerarFormatoSeguroServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CredencialesExternosServlet</servlet-name>
    <servlet-class>Procesamiento.CredencialesExternosServlet</servlet-class>
  </servlet>
  <servlet>
    <description>EmpleadosServlet</description>
    <display-name>EmpleadosServlet</display-name>
    <servlet-name>EmpleadosServlet</servlet-name>
    <servlet-class>Procesamiento.EmpleadosServlet</servlet-class>
  </servlet>
  <servlet>
    <description>EmpresasVacacionesServlet</description>
    <display-name>EmpresasVacacionesServlet</display-name>
    <servlet-name>EmpresasVacacionesServlet</servlet-name>
    <servlet-class>Procesamiento.EmpresasVacacionesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>JefesServlet</description>
    <display-name>JefesServlet</display-name>
    <servlet-name>JefesServlet</servlet-name>
    <servlet-class>Procesamiento.JefesServlet</servlet-class>
  </servlet>
  <servlet>
    <description>VacacionesDiasServlet</description>
    <display-name>VacacionesDiasServlet</display-name>
    <servlet-name>VacacionesDiasServlet</servlet-name>
    <servlet-class>Procesamiento.VacacionesDiasServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GenerarDiplomaMAMServlet</servlet-name>
    <servlet-class>Procesamiento.GenerarDiplomaMAMServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ReporteExcel</description>
    <display-name>ReporteExcel</display-name>
    <servlet-name>ReporteExcel</servlet-name>
    <servlet-class>Procesamiento.ReporteExcel</servlet-class>
  </servlet>
  <servlet>
    <description>BannerServlet</description>
    <display-name>BannerServlet</display-name>
    <servlet-name>BannerServlet</servlet-name>
    <servlet-class>Procesamiento.BannerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>PosicionServlet</description>
    <display-name>PosicionServlet</display-name>
    <servlet-name>PosicionServlet</servlet-name>
    <servlet-class>Procesamiento.PosicionServlet</servlet-class>
  </servlet>
  <servlet>
    <description>SitioServlet</description>
    <display-name>SitioServlet</display-name>
    <servlet-name>SitioServlet</servlet-name>
    <servlet-class>Procesamiento.SitioServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubirArchivosServlet</servlet-name>
    <servlet-class>Procesamiento.SubirArchivosServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubirBannerServlet</servlet-name>
    <servlet-class>Procesamiento.SubirBannerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>PermisosServlet</servlet-name>
    <servlet-class>Procesamiento.PermisosServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>RecuperarCuentaServlet</servlet-name>
    <servlet-class>Procesamiento.RecuperarCuentaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ProveedoresServlet</description>
    <display-name>ProveedoresServlet</display-name>
    <servlet-name>ProveedoresServlet</servlet-name>
    <servlet-class>Procesamiento.ProveedoresServlet</servlet-class>
  </servlet>
  <servlet>
    <description>OrdenesCompraServlet</description>
    <display-name>OrdenesCompraServlet</display-name>
    <servlet-name>OrdenesCompraServlet</servlet-name>
    <servlet-class>Procesamiento.OrdenesCompraServlet</servlet-class>
  </servlet>
  <servlet>
    <description>OrdenesCompraConceptosServlet</description>
    <display-name>OrdenesCompraConceptosServlet</display-name>
    <servlet-name>OrdenesCompraConceptosServlet</servlet-name>
    <servlet-class>Procesamiento.OrdenesCompraConceptosServlet</servlet-class>
  </servlet>
  <servlet>
    <description>SolicitudViaticosServlet</description>
    <display-name>SolicitudViaticosServlet</display-name>
    <servlet-name>SolicitudViaticosServlet</servlet-name>
    <servlet-class>Procesamiento.SolicitudViaticosServlet</servlet-class>
  </servlet>
  <servlet>
    <description>FacturaAServlet</description>
    <display-name>FacturaAServlet</display-name>
    <servlet-name>FacturaAServlet</servlet-name>
    <servlet-class>Procesamiento.FacturaAServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ReporteGastosViajeServlet</description>
    <display-name>ReporteGastosViajeServlet</display-name>
    <servlet-name>ReporteGastosViajeServlet</servlet-name>
    <servlet-class>Procesamiento.ReporteGastosViajeServlet</servlet-class>
  </servlet>
  <servlet>
    <description>ReporteGastosViajeDetalleServlet</description>
    <display-name>ReporteGastosViajeDetalleServlet</display-name>
    <servlet-name>ReporteGastosViajeDetalleServlet</servlet-name>
    <servlet-class>Procesamiento.ReporteGastosViajeDetalleServlet</servlet-class>
  </servlet>
  <servlet>
    <description>SubirXmlsServlet</description>
    <display-name>SubirXmlsServlet</display-name>
    <servlet-name>SubirXmlsServlet</servlet-name>
    <servlet-class>Procesamiento.SubirXmlsServlet</servlet-class>
  </servlet>
  <servlet>
    <description>SubirArchivoXMLServlet</description>
    <display-name>SubirArchivoXMLServlet</display-name>
    <servlet-name>SubirArchivoXMLServlet</servlet-name>
    <servlet-class>Procesamiento.SubirArchivoXMLServlet</servlet-class>
  </servlet>
  <servlet>
    <description>SubirArchivoPDFServlet</description>
    <display-name>SubirArchivoPDFServlet</display-name>
    <servlet-name>SubirArchivoPDFServlet</servlet-name>
    <servlet-class>Procesamiento.SubirArchivoPDFServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>AgrupadorEmpleadosServlet</servlet-name>
    <servlet-class>Procesamiento.AgrupadorEmpleadosServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FirmasGruposServlet</servlet-name>
    <servlet-class>Procesamiento.FirmasGruposServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>CredencialesTextoServlet</servlet-name>
    <servlet-class>Procesamiento.CredencialesTextoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GenerarCredencialesTextoServlet</servlet-name>
    <servlet-class>Procesamiento.GenerarCredencialesTextoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubirBannerCategoriaServlet</servlet-name>
    <servlet-class>Procesamiento.SubirBannerCategoriaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubirBannerCategoriaFirmaServlet</servlet-name>
    <servlet-class>Procesamiento.SubirBannerCategoriaFirmaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>BannerCategoriaFirmaServlet</servlet-name>
    <servlet-class>Procesamiento.BannerCategoriaFirmaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>FirmasInfoServlet</description>
    <display-name>FirmasInfoServlet</display-name>
    <servlet-name>FirmasInfoServlet</servlet-name>
    <servlet-class>Procesamiento.FirmasInfoServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>GeneraMiFirmaServlet</servlet-name>
    <servlet-class>Procesamiento.GeneraMiFirmaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MiFirmaServlet</servlet-name>
    <servlet-class>Procesamiento.MiFirmaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>MoverEmpleadosEmpresaServlet</servlet-name>
    <servlet-class>Procesamiento.MoverEmpleadosEmpresaServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FirmasServlet</servlet-name>
    <servlet-class>Procesamiento.FirmasServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FirmasHtmlServlet</servlet-name>
    <servlet-class>Procesamiento.FirmasHtmlServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FirmasBannerServlet</servlet-name>
    <servlet-class>Procesamiento.FirmasBannerServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FirmasPersonalServlet</servlet-name>
    <servlet-class>Procesamiento.FirmasPersonalServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>FirmasBannersServlet</servlet-name>
    <servlet-class>Procesamiento.FirmasBannersServlet</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>SubirFirmasBannersServlet</servlet-name>
    <servlet-class>Procesamiento.SubirFirmasBannersServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InfoModulo</servlet-name>
    <url-pattern>/servlet/InfoModulo</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Login</servlet-name>
    <url-pattern>/servlet/Login</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/servlet/Logout</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AvisosServlet</servlet-name>
    <url-pattern>/servlet/AvisosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>NoticiasServlet</servlet-name>
    <url-pattern>/servlet/NoticiasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FormatosServlet</servlet-name>
    <url-pattern>/servlet/FormatosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubirFormatosServlet</servlet-name>
    <url-pattern>/servlet/SubirFormatosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubirNoticiasServlet</servlet-name>
    <url-pattern>/servlet/SubirNoticiasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PoliticasServlet</servlet-name>
    <url-pattern>/servlet/PoliticasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubirPoliticasServlet</servlet-name>
    <url-pattern>/servlet/SubirPoliticasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CredencialesServlet</servlet-name>
    <url-pattern>/servlet/CredencialesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TiposCredencialesServlet</servlet-name>
    <url-pattern>/servlet/TiposCredencialesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubirCredencialesServlet</servlet-name>
    <url-pattern>/servlet/SubirCredencialesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubirTiposCredencialesServlet</servlet-name>
    <url-pattern>/servlet/SubirTiposCredencialesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeneraCredencialesServlet</servlet-name>
    <url-pattern>/servlet/GeneraCredencialesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerarCredencialServlet</servlet-name>
    <url-pattern>/servlet/GenerarCredencialServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DirectorioServlet</servlet-name>
    <url-pattern>/servlet/DirectorioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AlumnosServlet</servlet-name>
    <url-pattern>/servlet/AlumnosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CentrosCapacitacionServlet</servlet-name>
    <url-pattern>/servlet/CentrosCapacitacionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CursosServlet</servlet-name>
    <url-pattern>/servlet/CursosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DiplomasServlet</servlet-name>
    <url-pattern>/servlet/DiplomasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InstructoresServlet</servlet-name>
    <url-pattern>/servlet/InstructoresServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeneraDiplomaServlet</servlet-name>
    <url-pattern>/servlet/GeneraDiplomaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RequisicionCompraServlet</servlet-name>
    <url-pattern>/servlet/RequisicionCompraServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VacacionesServlet</servlet-name>
    <url-pattern>/servlet/VacacionesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PermisosSinGoceServlet</servlet-name>
    <url-pattern>/servlet/PermisosSinGoceServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GerentesServlet</servlet-name>
    <url-pattern>/servlet/GerentesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AreasGrupoServlet</servlet-name>
    <url-pattern>/servlet/AreasGrupoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ClasificacionActivosServlet</servlet-name>
    <url-pattern>/servlet/ClasificacionActivosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumActivosServlet</servlet-name>
    <url-pattern>/servlet/DocumActivosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DocumEmpleadosGrupoServlet</servlet-name>
    <url-pattern>/servlet/DocumEmpleadosGrupoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PersonasGeneralServlet</servlet-name>
    <url-pattern>/servlet/PersonasGeneralServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpresasGrupoServlet</servlet-name>
    <url-pattern>/servlet/EmpresasGrupoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EstatusActivosServlet</servlet-name>
    <url-pattern>/servlet/EstatusActivosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EventosActivoServlet</servlet-name>
    <url-pattern>/servlet/EventosActivoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InventarioServlet</servlet-name>
    <url-pattern>/servlet/InventarioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PuestosGrupoServlet</servlet-name>
    <url-pattern>/servlet/PuestosGrupoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>TiposActivoServlet</servlet-name>
    <url-pattern>/servlet/TiposActivoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UbicacionesGrupoServlet</servlet-name>
    <url-pattern>/servlet/UbicacionesGrupoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DirectorioTelefonicoServlet</servlet-name>
    <url-pattern>/servlet/DirectorioTelefonicoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerarFormatoSeguroServlet</servlet-name>
    <url-pattern>/servlet/GenerarFormatoSeguroServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CredencialesExternosServlet</servlet-name>
    <url-pattern>/servlet/CredencialesExternosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpleadosServlet</servlet-name>
    <url-pattern>/servlet/EmpleadosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>EmpresasVacacionesServlet</servlet-name>
    <url-pattern>/servlet/EmpresasVacacionesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>JefesServlet</servlet-name>
    <url-pattern>/servlet/JefesServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VacacionesDiasServlet</servlet-name>
    <url-pattern>/servlet/VacacionesDiasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerarDiplomaMAMServlet</servlet-name>
    <url-pattern>/servlet/GenerarDiplomaMAMServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReporteExcel</servlet-name>
    <url-pattern>/servlet/ReporteExcel</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BannerServlet</servlet-name>
    <url-pattern>/servlet/BannerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PosicionServlet</servlet-name>
    <url-pattern>/servlet/PosicionServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SitioServlet</servlet-name>
    <url-pattern>/servlet/SitioServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubirArchivosServlet</servlet-name>
    <url-pattern>/servlet/SubirArchivosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubirBannerServlet</servlet-name>
    <url-pattern>/servlet/SubirBannerServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>PermisosServlet</servlet-name>
    <url-pattern>/servlet/PermisosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>RecuperarCuentaServlet</servlet-name>
    <url-pattern>/servlet/RecuperarCuentaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ProveedoresServlet</servlet-name>
    <url-pattern>/servlet/ProveedoresServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrdenesCompraServlet</servlet-name>
    <url-pattern>/servlet/OrdenesCompraServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrdenesCompraConceptosServlet</servlet-name>
    <url-pattern>/servlet/OrdenesCompraConceptosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SolicitudViaticosServlet</servlet-name>
    <url-pattern>/servlet/SolicitudViaticosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FacturaAServlet</servlet-name>
    <url-pattern>/servlet/FacturaAServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReporteGastosViajeServlet</servlet-name>
    <url-pattern>/servlet/ReporteGastosViajeServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ReporteGastosViajeDetalleServlet</servlet-name>
    <url-pattern>/servlet/ReporteGastosViajeDetalleServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubirXmlsServlet</servlet-name>
    <url-pattern>/servlet/SubirXmlsServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubirArchivoXMLServlet</servlet-name>
    <url-pattern>/servlet/SubirArchivoXMLServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubirArchivoPDFServlet</servlet-name>
    <url-pattern>/servlet/SubirArchivoPDFServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>AgrupadorEmpleadosServlet</servlet-name>
    <url-pattern>/servlet/AgrupadorEmpleadosServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirmasGruposServlet</servlet-name>
    <url-pattern>/servlet/FirmasGruposServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CredencialesTextoServlet</servlet-name>
    <url-pattern>/servlet/CredencialesTextoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GenerarCredencialesTextoServlet</servlet-name>
    <url-pattern>/servlet/GenerarCredencialesTextoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubirBannerCategoriaServlet</servlet-name>
    <url-pattern>/servlet/SubirBannerCategoriaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubirBannerCategoriaFirmaServlet</servlet-name>
    <url-pattern>/servlet/SubirBannerCategoriaFirmaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>BannerCategoriaFirmaServlet</servlet-name>
    <url-pattern>/servlet/BannerCategoriaFirmaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirmasInfoServlet</servlet-name>
    <url-pattern>/servlet/FirmasInfoServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GeneraMiFirmaServlet</servlet-name>
    <url-pattern>/servlet/GeneraMiFirmaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MiFirmaServlet</servlet-name>
    <url-pattern>/servlet/MiFirmaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>MoverEmpleadosEmpresaServlet</servlet-name>
    <url-pattern>/servlet/MoverEmpleadosEmpresaServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirmasServlet</servlet-name>
    <url-pattern>/servlet/FirmasServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirmasHtmlServlet</servlet-name>
    <url-pattern>/servlet/FirmasHtmlServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirmasBannersServlet</servlet-name>
    <url-pattern>/servlet/FirmasBannersServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>FirmasPersonalServlet</servlet-name>
    <url-pattern>/servlet/FirmasPersonalServlet</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>SubirFirmasBannersServlet</servlet-name>
    <url-pattern>/servlet/SubirFirmasBannersServlet</url-pattern>
  </servlet-mapping>
</web-app>